
body {
    background-image: url("/assets/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    font-family: arial;
    color: white;
    align-items: center;
    height: 80vh;
}

h1 {
    font-size: 40px;
}

p {
    font-family: monospace;
    font-size: 22px;
}
